* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffb8c6;
    color: white;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wrap i {
    font-size: 10rem;
}

.wrap .lg-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.wrap .sm-text {
    font-size: 1.5rem;
}

#dynamic {
    position: relative;
    display: inline-block;
}

#dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

#dynamic.active::after {
    display: none;
}